@{
    string swaggerUrl = HttpContext.Current.Request.Url.AbsoluteUri+ "/swagger";
}
<div class="jumbotron">
    <p><a href="@swaggerUrl">swagger</a></p>
    <h1>WebApiDemo</h1>
    <p><a href="@Url.Action("Upload")" class="btn btn-primary btn-lg">Upload Picture</a>
    </p>
    <img src="~/Pictures/UploadImageFile.jpg" alt="無圖片可顯示"/>
</div>
<div class="row">
    
    
</div>
